body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(to bottom, #e0f7fa, #b3e5fc);
    text-align: center;
}

.navbar {
    background: #0288d1;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 320px;
    border-radius: 20px;
}

button {
    background: #0288d1;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.mascot img {
    width: 120px;
    animation: float 3s infinite;
}

@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.progress {
    background: #b3e5fc;
    border-radius: 10px;
}

.progress-bar {
    height: 10px;
    background: #0288d1;
}